<main class="container d-flex flex-column align-items-center">
  <h3 class="text-center mt-4 mb-3">Checkout Form</h3>
  <form class="form w-50" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label form-label">Full Name</label>
      <input
        type="text"
        class="input form-control"
        formControlName="fullName"
        [class.invalid]="
        checkoutForm.get('fullName')?.invalid &&
        (checkoutForm.get('fullName')?.dirty ||
          checkoutForm.get('fullName')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('fullName')?.hasError('required') &&
        (checkoutForm.get('fullName')?.dirty ||
          checkoutForm.get('fullName')?.touched ||
          isSubmitted)
      "
        class="error text-danger"
      >This field is required.</span
      >
    </div>

    <div class="field mt-3">
      <label class="label form-label">Address</label>
      <input
        type="text"
        class="input form-control"
        formControlName="address"
        [class.invalid]="
        checkoutForm.get('address')?.invalid &&
        (checkoutForm.get('address')?.dirty ||
          checkoutForm.get('address')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('address')?.hasError('required') &&
        (checkoutForm.get('address')?.dirty ||
          checkoutForm.get('address')?.touched ||
          isSubmitted)
      "
        class="error"
      >This field is required.</span
      >
    </div>

    <div class="field mt-3">
      <label class="label form-label">Nearest City</label>
      <input
        type="text"
        class="input form-control"
        formControlName="city"
        [class.invalid]="
        checkoutForm.get('city')?.invalid &&
        (checkoutForm.get('city')?.dirty ||
          checkoutForm.get('city')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('city')?.hasError('required') &&
        (checkoutForm.get('city')?.dirty ||
          checkoutForm.get('city')?.touched ||
          isSubmitted)
      "
        class="error"
      >This field is required.</span
      >
    </div>

    <div class="field mt-3">
      <label class="label form-label">District</label>
      <input
        type="text"
        class="input form-control"
        formControlName="district"
        [class.invalid]="
        checkoutForm.get('district')?.invalid &&
        (checkoutForm.get('district')?.dirty ||
          checkoutForm.get('district')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('district')?.hasError('required') &&
        (checkoutForm.get('district')?.dirty ||
          checkoutForm.get('district')?.touched ||
          isSubmitted)
      "
        class="error"
      >This field is required.</span
      >
    </div>

    <div class="field mt-3">
      <label class="label form-label">Email Address</label>
      <input
        type="email"
        class="input form-control"
        formControlName="email"
        [class.invalid]="
        checkoutForm.get('email')?.invalid &&
        (checkoutForm.get('email')?.dirty ||
          checkoutForm.get('email')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('email')?.hasError('required') &&
        (checkoutForm.get('email')?.dirty ||
          checkoutForm.get('email')?.touched ||
          isSubmitted)
      "
        class="error text-danger"
      >This field is required. enter valid email</span
      >
    </div>

    <div class="field mt-3">
      <label class="label form-label">Contact</label>
      <input
        type="tel"
        class="input form-control"
        formControlName="contact"
        [class.invalid]="
        checkoutForm.get('contact')?.invalid &&
        (checkoutForm.get('contact')?.dirty ||
          checkoutForm.get('contact')?.touched ||
          isSubmitted)
      "
      />
      <span
        *ngIf="
        checkoutForm.get('contact')?.hasError('required') &&
        (checkoutForm.get('contact')?.dirty ||
          checkoutForm.get('contact')?.touched ||
          isSubmitted)
      "
        class="error text-danger"
      >This field is required.</span
      >
    </div>

    <div class="mt-4 d-flex justify-content-between">
      <div>
        <P class="mb-1">Total To Pay</P>
        <h3 class="text-success mt-0">Rs. {{this.cartService.getTotal()}}</h3>
      </div>

      <div>
        <p class="mb-1 text-end">* Cash On Deliver</p>
        <p class="text-danger">* Ready Your Money When Deliver</p>
      </div>
    </div>

    <div class="mt-4">
      <button
        type="submit"
        routerLink="/success"
        class="btn btn-success w-100"
        [disabled]="checkoutForm.invalid"
      >
        Place Order
      </button>

<!--      <button-->
<!--        type="submit"-->
<!--        class="btn btn-danger w-50 ms-2"-->
<!--      >-->
<!--        Cancel-->
<!--      </button>-->
    </div>



<!--    <select formControlName="roleId" class="form-select mb-3">-->

<!--      <option *ngFor="let role of roles" [ngValue]="role.id">-->
<!--        {{ role.title }}-->
<!--      </option>-->
<!--    </select>-->

<!--    <div>-->
<!--      <button type="submit" class="button btn">Register</button>-->
<!--    </div>-->
  </form>
</main>
