<main class="container-fluid">
  <section class="container d-flex justify-content-between mt-4 align-items-center">
    <img src="../../../assets/1%20(1).png" class=" " width="160px" height="30"/>

    <div class="d-flex" id="searchDiv">
      <select class="form-select w-25">
        <option value="ios">English</option>
      </select>

      <input class="form-control ms-2 w-75 rounded-end-0" id="searchbar" type="search" placeholder="Search here ..."/>
      <button class="btn rounded-start-0">
        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/search--v1.png" alt="search--v1"/>
      </button>
    </div>

    <div class="d-flex">
      <img class="me-4" width="30" height="30" src="https://img.icons8.com/ios/50/like--v1.png" alt="like--v1"/>
      <img routerLink="/cart" class="me-4" width="30" height="30" src="https://img.icons8.com/parakeet-line/48/shopping-cart.png" alt="shopping-cart"/>
      <img routerLink="/my-account" width="30" height="30" src="https://img.icons8.com/ios/50/user-male-circle--v1.png" alt="user-male-circle--v1"/>
    </div>
  </section>
</main>
