<main class="container">
  <h3 class="mt-4 mb-4 text-center">Cart</h3>

  <div class="container d-flex">
    <table class="table w-75">
      <thead>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Product Weight</th>
        <th>Product Price</th>
        <th>Total Price</th>

      </thead>

      <tbody>
      <tr *ngFor="let item of cartItems">
        <td><img src="assets/{{item.image}}" width="50"></td>
        <td>{{item.name}}</td>
        <td>
          <button class="btn border me-2" (click)="decreaseQty(item.id)">-</button>
          {{item.weight}}kg
          <button class="btn border ms-2" (click)="increaseQty(item.id)">+</button>
        </td>
        <td>Rs.{{item.price}}</td>
        <td>Rs.{{item.price*item.weight}}</td>
        <td><button class="btn btn-close"></button></td>
      </tr>
      </tbody>

    </table>

    <div class="w-25 cart-total rounded p-4">

      <h4 class="mb-5">Cart Total</h4>
      <div class="w-100 d-flex justify-content-between border-bottom">
        <p>SubTotal</p>
        <p class="text-danger">Rs. {{subTotal}}</p>
      </div>

      <div class="w-100 d-flex justify-content-between border-bottom">
        <p>Deliver Charge</p>
        <p class=" ">Rs. {{subTotal}}</p>
      </div>

      <div class="w-100 d-flex justify-content-between border-bottom">
        <p>Discounts</p>
        <p class="">- Rs. {{subTotal}}</p>
      </div>

      <div class="w-100 d-flex justify-content-between mt-4 mb-4">
        <h5>Total to Pay</h5>
        <h5 class="text-success">Rs. {{subTotal}}</h5>
      </div>

      <button class="btn btn-danger w-100">Proceed to Checkout</button>
      <button class="btn btn-dark w-100 mt-3">Return To Shop</button>


    </div>
  </div>
</main>
