<main class="container-fluid">
  <section class="container d-flex justify-content-between mt-4 align-items-center">
    <button type="button" class="btn border-0 text-white" id="btnCategory" routerLink="/products">
      <img width="30" height="30" src="https://img.icons8.com/sf-regular/48/FFFFFF/four-squares.png" alt="four-squares"/>      All Products</button>

    <div class="d-flex align-items-center" id="searchDiv">
      <ul class="d-flex list-unstyled text-decoration-none gap-5">
        <li routerLink="/home">Home</li>
        <li routerLink="/products">Products</li>
        <li routerLink="/offers">Offers</li>
<!--        <li routerLink="/checkout">Checkout</li>-->
<!--        <li routerLink="/my-account">My Account</li>-->
        <li routerLink="/contact">Contact</li>
      </ul>
    </div>

    <button type="button" class="btn border-0" id="btnDeals">
      <img width="25" height="25" src="https://img.icons8.com/ios-filled/50/0da487/lightning-bolt--v1.png" alt="lightning-bolt--v1"/>    Deal Today</button>

  </section>
</main>
