<main class="">
  <section class="container d-flex mt-4">
    <img class="rounded" src="assets/paris_01.jpg" width="72%"/>
    <div class="ms-4 d-flex flex-column justify-content-between gap-4">
      <img class="w-100 rounded" src="assets/paris_02.jpg"/>
      <img class="w-100 rounded" src="assets/paris_03.jpg"/>
    </div>
  </section>

  <section class="container d-flex mt-5">
    <div class="w-25 rounded" id="categorySec">

    </div>

    <div class="ms-5">
      <h3 class="mb-3">Top Save Today</h3>
      <p>Don't miss this opportunity at a special discount just for this week</p>

      <div class="d-flex justify-content-between">
        <div class="item me-2"></div>
        <div class="item me-2"></div>
        <div class="item me-2"></div>
        <div class="item"></div>
      </div>


    </div>

  </section>

  <section class="container d-flex mt-5 border-top pt-5">
    <img src="assets/paris_08.jpg" class="w-25">

    <div class="ms-5">
      <div class="d-flex">
        <img src="assets/paris_09.jpg" class="w-50 me-1">
        <img src="assets/paris_10.jpg" class="w-50">
      </div>
      <h3 class="mb-3 mt-2">The Meat of Day</h3>
      <p>Don't miss this opportunity at a special discount just for this week</p>

      <div class="d-flex justify-content-between">
        <div class="item me-2"></div>
        <div class="item me-2"></div>
        <div class="item me-2"></div>
        <div class="item"></div>
      </div>


    </div>

  </section>



</main>
